body {
    background-image: url("../images/black_thread.png")
}

h1 {
    background-color: #494949;
    max-width:425px;
    padding: 15px;
    color: #e2f7ff;
    font-size: 35px;
}

h2 {
    font-size: 20px;
}

h1, h2, h3 {
    text-align: center;
}

p {
    padding: 5px;
}

img {
    margin: 10px;
    width:100px;
}

.contrast {
    color: #e2f7ff;
}

.whisper {
    font-style: italic;
}
.scroll {
    margin: 25px 0px 25px 0px;
    max-width:450px;
    border: 1px solid grey;
    background-image: url("../images/extra_clean_paper.png")
}

.game-stats {
    max-width: 450px;
}

.crystal-group {
    background-color: #363636;
    max-width: 500px;
    margin: 25px 0px 25px 0px;
}

.toll {
    background-color: #363636;
}

.game-record {
    background-color:#363636;
    width: auto;
    max-width: 450px;
    margin-left: 5px;
}

.crystal-currency {
    background-color: #363636;
    max-width: 450px;
    padding: 10px 0px 15px 0px;
}